<footer>
  <div class="pull-right">
    ATAS - Aferição, Transmissão e Análise de Sensores. Produto <a href="http://salvus.me" target="_blank">Salvus</a>
  </div>
  <div class="clearfix"></div>
</footer>
